*{
    padding: 0;
    margin: 0;
}

body{
    background-image: linear-gradient(-50deg, rgb(252, 101, 252), rgb(252, 102, 127), rgb(253, 71, 71));
}

.textbox{
    margin: 150px;
    width: 500px;
}

#heading{
    margin: 150px;
}

#imgs{
    margin: 50px;
    height: 300px;
    width: 1000px;
    background-color: transparent;
}

#imgs img{
    height: 300px;
    width: 500px;
}